<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<!-- Remove WebDAV handler to prevent 405 errors -->
				<remove name="WebDAV" />
				<!-- Allow all HTTP verbs -->
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<modules>
				<!-- Remove WebDAV module to prevent PUT/DELETE issues -->
				<remove name="WebDAVModule" />
			</modules>
			<aspNetCore processPath="dotnet"
						arguments=".\ResumeBuilder.API.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
